.for{
    width: 400px;
    margin-left: -90px;
    margin-top: 150px;
}
.cen{
    margin-top: 200px;
}
.sos{
    margin-left: -90px;
}
.str{
    width: 60px;
    margin-left: 347px;
    margin-top: 10px;
}
.str2{
    width: 291px;
    margin-top: 12px;
    margin-left: 330px;
}
.top{
    margin-top: 20px;
}
